name: Real Parallel Test Execution (Scalability)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  parallel-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Download source code (ZIP)
        run: |
          curl -L -o source.zip https://github.com/bendrerohan060-dot/flask-realworld-example-app/archive/refs/heads/main.zip
          unzip source.zip
          mv flask-realworld-example-app-main/* .

      - name: Set up Python (legacy compatible)
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install legacy-compatible dependencies
        run: |
          python -m pip install --upgrade pip
          pip install \
          Flask==1.1.4 \
          Jinja2==2.11.3 \
          MarkupSafe==1.1.1 \
          Flask-SQLAlchemy==2.2 \
          Flask-Bcrypt==0.7.1 \
          SQLAlchemy==1.1.9 \
          Flask-Migrate \
          WebTest \
          pytest \
          pytest-xdist


      - name: Run tests in parallel (REAL scalability)
        run: |
          pytest -n 3 tests/
