pipeline {
    agent any

    stages {

        stage('Install') {
            steps {
                sh 'pip install pytest'
            }
        }

        stage('Test') {
            steps {
                sh 'pytest test_sample.py -v'
            }
        }
    }
}
